.inline_account {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  height: 32px;
  width: fit-content;

  &--group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  &--avatar {
    height: 32px;
    width: 32px;
  }

  &--username {
    color: var(--hsl-light90);
    font-weight: 400;
    font-size: 16px;
  }

  &--badge {
    color: var(--hsl-dark40);
    transition: color 0.25s;
  }
}