:root {
    --base-hue: 220;
    --max-width: 1200px;
    --top-margin: 48px;
    --corner-radius: 3px;

    --font-base: "Nunito", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@import "utils/reset.scss";
@import "utils/colorPalette.scss";
@import "fonts.scss";
@import "index.scss";