:root {
    --base-hue: 220;
    --max-width: 1200px;
    --top-margin: 48px;
    --corner-radius: 3px;

    --accent-shadow: 0 0 6px hsla(var(--base-hue), 100%, 50%, 0.02), 0 2px 4px hsla(var(--base-hue), 100%, 50%, 0.08);

    --font-base: "Nunito", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@import "utils/reset.scss";
@import "utils/colorPalette.scss";
@import "fonts.scss";
@import "index.scss";